# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore build directories
/out/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore dependency directories
node_modules/
vendor/

# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore temporary files
*.tmp
*.swp
*.bak
*.~*

# Ignore environment files
.env
.env.local